.sections {
  margin: 1em;
}

.sections p {
  color: var(--white-2);
}

.sections i {
  color: var(--white-2);
}

#formulaireConcours {
  margin: 2em;
}

.annuler{
  width: 10em !important;
  color: var(--dark-2);
}

.enregistrer{
  width: 10em !important;
}

.label-required {
  color: var(--red);
}

.btn-theme,
.btn-theme:hover,
.btn-theme:focus{
  background-color: var(--theme);
}

.textConc{
  margin-left: 2em !important;
}

.textConcDec{
  margin-left: 3em !important;
}

.collapsible {
  border: var(--dark-2);
}

.collapsible-header{
  background-color: var(--dark-2);
  border: var(--dark-2);
  color: var(--white);
}
.input-avatar-container {
    text-align: center;
}

.input-avatar {
    padding: 3em;
    border-radius: 1em;
    box-sizing: border-box;
    background-color: var(--dark-1);
    background-image: url("../img/logos_utiles/photo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3em;
}

.input-avatar:hover {
    background-color: var(--dark-1);
}

#mainTitle {
  margin: 1em;
  color:var(--white);
}

.datepicker-table-wrapper{
  color: black;
}
.validate{
  color: white;
}
#modT {
  font-size: medium;
  color:var(--theme);
  margin: 3em 0 2em 0;
}
#winnerPoules{
  color:var(--white-2);
}

/*
Css des bouton remplissage de champ manuel
*/
li[class="active"] .collapsible-header{
  background-color:var(--red);
}

div[class="collapsible-body"] {
  background-color: var(--white);
  border: var(--dark-2);
}

/*
Css des bouton de remplissage avec selecteur materializes
*/
input[class="datepicker"] {
  color: var(--white);
}
input[class="timepicker"]{
  color: var(--white);
}

.timepicker-digital-display,
.datepicker-date-display,
.datepicker-table td.is-selected,
button:focus {
  background-color: var(--theme);
}

.timepicker-close,
.datepicker-table td.is-today,
.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done,
.dropdown-content li > a,
.dropdown-content li > span {
  color: var(--theme);
}

.timepicker-tick.active,
.timepicker-tick:hover {
  background-color: var(--silver);
}

.timepicker-canvas line {
  stroke: var(--theme);
}

.timepicker-canvas-bg,
.timepicker-canvas-bearing {
  fill: var(--theme);
}

.is-today.is-selected > .datepicker-day-button {
  color: var(--white);
}



#sujet {
  background: var(--transparent);
}
