{% extends "base.html" %}

{% block main %}
<h3>{{ pageName }} - {{concours.nomC}}</h3>
  <ul class="resultat">
    {% for i in range(listeNomEquipe|length) %}
    <li class="equipe">
        {% if i<3 %}
          <p class="podium top{{i+1}}">{{i+1}}</p>
        {% else %}
          <p class="podium horspod">{{i+1}}</p>
        {% endif %}
        <div class="logo" style="background-image : url({{ url_for ('static',filename='img/upload/equipe/' ~ listeNomEquipe[i].avatar) }})"></div>
        <p class="nomequipe">{{listeNomEquipe[i].nomE}}</p>
        <p class="score">{{ listeNomEquipe[i].score() }}pts</p>
    </li>
    {% endfor %}
  </ul>
  <div class="row footer">
    <a href="{{ url_for('ficheDetaillee', idConcours=concours.idC) }}" class="btn green waves-effect grey-text text-darken-4 waves-darken right">Suivant<i class="material-icons right">arrow_forward</i></a>
    <a href="{{ url_for('publication', idConcours=concours.idC) }}" class="btn grey lighten-3 waves-effect grey-text text-darken-4 waves-darken right">Partager<i class="material-icons left">share</i></a>
  </div>
{% endblock %}
